[SddmGreeterTheme]
Name=sddm-catppuccin-mocha
Description=sddm-catppuccin-mocha
Author=xshubhamg
Website=https://github.com/xshubhamg/sddm-catppuccin-mocha
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=Themes/catppuccin_street.conf
Screenshot=Previews/catppuccin-street-sddm.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-catppuccin-mocha
Theme-API=2.0
QtVersion=6